main {
	margin: 0 auto;
	max-width: 90%;
  padding: 50px 30px;
}

:root {
  --secondary:#5e7fc5 ;
}

* {
  box-sizing: border-box;
}

html,
body {
  min-height: 100%;
}


body {
  margin: 0;
  padding: 0;
  font-weight: 600;
  line-height: 1.5;
  font-size: 18px;
  letter-spacing: .1em;
  background:  #3b5998;
  color: var(--light);
  font-family: 'Poiret One', cursive;

}


h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  margin: 5px 0;
  line-height: 1.25;
}

h1 {
  font-size: 2.25rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.75rem;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1.25rem;
}

h6 {
  font-size: 1rem;
}
.navActive {
  background-color: var(--secondary);
}

.card{
  margin: 5%;
}

footer h3 {
  font-size: 1.4rem;
}

.header-image {
  height: 70px;
  width: 70px;
  border-radius: 100%;
  padding: 1% .5% .5% 1%;
}

header h2 {
  margin-left: 1%;
}

form {
  border: 1px solid black;
  padding: 3%;
  box-shadow: 0 0 8px rgb(4, 4, 196);  
}

textarea {
  box-shadow: 0 0 8px rgb(4, 4, 196);
}

input{
  box-shadow: 0 0 8px rgb(4, 4, 196);
}

button {
  color: white;
  background-color: #5e7fc5;
  box-shadow: 0 0 8px rgb(4, 4, 196);
}

button:hover{
  background-color:  rgb(38, 38, 236);
}